{% extends "base.html.twig" %}
{% block title %}Aplicacion{% endblock %}
{% block body %}
    <h1>Bienvenido a mi Aplicación</h1>
    <h2>Busca la canción que quieras</h2>
    <p>Si no encuentras tu cancion siempre puedes ver el listado de nuestras canciones. </p>
{% endblock %}